html{
		background-color:#828282;
	}
	body{
		padding-top: 20px;
		margin-top: 0px;
		margin-bottom: 0px;
		background-color: #386372;
		margin-left: 100px;
		margin-right: 100px;
	}
	#header{
		background-color: #ADADAD;
		border: solid;
		padding-left: 5%;
	}
	header>hgroup>h2{
		padding-left: 5%;
	}
	hgroup>img{
		float: right;
		padding-right: 10%;
		width: 150px;
	}
	nav{
		text-align: center;
	}
	.navegador{
		list-style: none;
		display: inline;
		margin: 0px;
		padding: 10px;
		background-color: #000000;
	}
	a{
		text-decoration: none!important;
		color: white !important;
	}
	a:active{
		color: orange!important;
		font-size: 20px;
	}


	section{
		padding: 15px;
	}
	aside{
		float: right;
	}
	footer{
		margin-top: 30px;
		background-color: #9FAFA7;
	}
	footer>p{
		list-style: none;
		display: inline;
		padding-right: 30px;
	}