body{
	background-image: url('../img/nyk.jpg');
}

label{
	display: block;
	float: left;
}
#pass,#correo,#nombre{
	display: block;
	float:right;
}
.btn{
	float: right;
}
#form{
background-color: gray;
opacity: 0.8;
}